.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
3CarND-Traffic-Sign-Classifier-Project-master/savemodel/*
3CarND-Traffic-Sign-Classifier-Project-master/*.p
*/bvlc-alexnet.npy
*/train.p
*/.idea/*
*/__pycache__/*
10Detect-Line-And-Cars/model_data/yolo.h5
*/*.weights
10Detect-Line-And-Cars/video/*.mp4

